@model IEnumerable<TaskApplication.Models.Task>

@{
    ViewBag.Title = "TaskList";
}

<h2>TaskList</h2>

<p>
    @Html.ActionLink("Create New", "TaskCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorityID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskId })
        </td>
    </tr>
}

</table>
